/* #212121 h3-h2 */
/* #757575 p  */
/* #2196F3 accent */
/* #2F303A first section back */
/* #FFFFFF address */
/* rgba(255, 255, 255, 0.6) address(mail, phone) */
/* #F5F4FA buttons back */
/* #F5F5F5 main back color */
/* #F5F4FA secondary back color */
/* #2F303A footer and option back */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA;
    --white-color: #FFFFFF;
    --logo-color: #000000;
    --hero-bg-color: #2F303A;
    --address-color:  rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC;
    --cards-color: #EEEEEE;
    --social-color: #afb1b8;
    --clients-border: #AFB1B8;
    --footer-social-bg: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

/* Utility */

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.link {
    text-decoration: none;
}

.button {
    border-radius: 4px;
    border-width: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

section {
    padding: 94px 0;
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* social team amd footer */

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--social-color);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* header and footer */

.header {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header nav {
    display: flex;
	align-items: center;
}

.footer {
    padding: 60px 0;

    background-color: var(--hero-bg-color);
}

/* logo */

.header .logo {
    margin-right: 92px;

    color: var(--logo-color);

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo span {
    color: var(--accent-color);
}

.footer .logo {
    margin-bottom: 20px;
    display: block;

    color: var(--white-color);

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.footer-right {
    margin-left: 70px;
}

.footer-title {
    margin-bottom: 20px;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    color: var(--white-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-links {
    display: flex;
}

footer .social-link:hover, footer .social-link:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

footer .social-link {
    background-color: var(--footer-social-bg);
}

.footer-links-item:not(:last-child) {
    margin-right: 10px;
}

footer .social-icon {
    fill: var(--white-color);
}

/* site nav header */

.site-nav {
    display: flex;
}

.site-nav .item:not(:first-child) {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding: 32px 0;

    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* contact header */

.contact {
    display: flex;
    margin-left: auto;
}

.contact .item:not(:first-child) {
    margin-left: 50px;
}

.contact .link {
    display: flex;
    align-items: center;
    padding: 32px 0;

    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

.contact.list {
    display: flex;
    align-items: center;
}

.contact-item {
    fill: currentColor;
    margin-right: 10px;
}
/* address footer */

.address .link {
    display: block;
    color: var(--white-color);

    line-height: 1.71;
    font-style: normal;
}

.address li:not(last-child) {
    margin-bottom: 9px;
}

.address .link.add {
    color: var(--address-color);
}

.address .link.add:hover,
.address .link.add:focus {
    color: var(--accent-color);
}

/* index.html */

/* hero */

.hero {
    padding: 200px 0;

    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--hero-bg-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ),
         url(../images/bg-1.jpg);
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;

    color: var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .button {
    padding: 10px 32px;
    margin: 0 auto;
    display: block;

    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
}

/* feature */

.feature .container {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.feature ul {
    display: flex;
}

.feature-thumb {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    background-color: var(--secondary-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
}

.feature.list li:not(:first-child) {
    margin-left: 30px;
}

.feature .item {
    width: 270px;
}

.feature .sub-title {
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature .text {
    line-height: 1.71;
}

/* example and team titles */

.team-title,
.examples-title {
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* examples */

.examples-section {
    padding-top: 0;
}

.examples-section ul {
    margin-right: 0;
}

.examples.list {
    display: flex;
    padding-bottom: 0;
}

.examples.list li:not(:first-child) {
    margin-left: 30px;
}

/* team */

.team-section {

    background-color: var(--secondary-bg-color);
}

.team.list {
    display: flex;
    padding-bottom: 0;
    align-items: center;
    margin: 0 auto;
}

.team-main {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    min-height: 368px;
}

.team-main:not(:first-child) {
    margin-left: 30px;
}

.team-cards {
    padding: 30px 0;
}

.team .subtitle {
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team .position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
}

.team-links {
    display: flex;
    justify-content: center;
}

.team-links-item:not(:last-child) {
    margin-right: 10px;
}

.team .social-link:hover, .team .social-link:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* clients */

.clients-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .clients-list li {

    border: 1px solid var(--clients-border);
    border-radius: 4px;
    width: 170px;
    height: 92px;
} */

.clients-list li:not(:first-child) {
    margin-left: 30px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--clients-border);
    width: 170px;
    height: 92px;
    border: 1px solid var(--clients-border);
    border-radius: 4px;
    width: 170px;
    height: 92px;
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.clients-link:hover, .clients-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/* portfolio.html */

.filtration.list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 50px;
}

.filtration .button {
    padding: 6px 22px;

    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
}

.filtration .button:hover,
.filtration .button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtration .button.current {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.filtration.list li:not(:first-child) {
    margin-left: 8px;
}

.works.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.works.list li {
    margin-right: 30px;
    margin-bottom: 30px;
    min-height: 404px;
    max-width: 370px;

    background: var(--white-color);
    border: 1px solid var(--cards-color);
}

.works.list li:nth-child(3n) {
    margin-right: 0;
}

.works.list li:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.work-cards {
    padding: 20px 24px;
}

.portfolio-title {
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works .text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.work-links {
    display: block;
}

.work-links:hover, .work-links:focus {
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
}